header {
  padding:  10px 25px 10px 35px;
  display: flex;
  background: #a3bdcd;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul div a{
  text-decoration: none;
  padding: 15px;
  list-style: none;
}

main {
  padding-left: 25px;
}

.container {
  display: flex;
  position: relative;
}

.col_1 {
  width: 70%;
}

.col_2 {
  width: 20%;
  position: absolute;
  right: 20px;
}

.profileImg {
  width: 150px;
  border-radius: 15%;
}

.aboutText {
  padding-left: 15px;
}

.projectImg {
  width: 800px;
}

.contactMe {
  padding-left: 15px;
  padding-bottom: 15px;
  background: #a3bdcd;
  border-radius: 15px;
}

footer {
  background: #a3bdcd;
  padding: 10px 25px 10px 35px;
}